body {
    /* background-color: yellow; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAB-LRdPSrcsOh9LDbOszissoHfbPY6NP1-nPp6vdmMhn33hC1HSF6Ayi-&s=10);
    /* Fixa a imagem mesmo com zoom  */
    background-attachment: fixed;
    /* A imagem cobre toda a página mantém a proporção */
    background-size: cover;
    /* Centraliza a imagem  */
    background-position: center;
}

h1 {
    text-align: center;
    color: green;
    font-size: 50px;
    font-family: fantasy;
}

p {
    text-align: center;
    color: blue;
    font-size: 30px;
}

button {
    display: block;
    margin: 30px auto;
    background-color: blue;
    border-radius: 15px;
}

a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px;
}