body {
    background-image: url(assts/kOOGO5FGtlabSPb0Z8Os59f36e9ddaa28.gif);

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    color: red;
    font-size: 20px;
}

button {
    display: block;
    margin: 30px auto;
    background-color: black;
    border-radius: 15px;
}

a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px;
}